<div class="container" th:fragment="fragment-invoice-list(dataObject)">
    <h1 class="my-4">Invoice List</h1>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Codigo Factura</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="invoice : ${dataObject}">
            <td th:text="${invoice.id}">1</td>
            <td th:text="${invoice.billingDate}">Invoice date</td>
            <td th:text="${invoice.codigoFactura}">Invoice code</td>
            <td>
                <a class="btn btn-outline-primary" th:href="@{/invoices/edit/{id}(id=${invoice.id})}">Edit</a>
                <a onclick="return confirm('Are you sure you want to delete this customer?')" class="btn btn-outline-danger" th:href="@{/invoices/delete/{id}(id=${invoice.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-outline-success" th:href="@{/invoices/new}">Add New Invoice</a>
</div>
