<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<head>
  <meta charset="UTF-8" />
  <title>Contratos</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1 class="my-4">Contratos</h1>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>startDate</th>
      <th>endDate</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contrato : ${contracts}">
      <td th:text="${contrato.id}"></td>
      <td th:text="${contrato.startDate}"></td>
      <td th:text="${contrato.endDate}"></td>


      <td>
        <a th:href="@{/contracts/edit/{id}(id=${contrato.id})}"
           class="btn btn-primary btn-sm">Editar</a>
        <a th:href="@{/contracts/delete/{id}(id=${contrato.id})}"
           class="btn btn-danger btn-sm"
           onclick="return confirm('¿Está seguro de eliminar este contrato?')">Eliminar</a>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="text-center">
    <a th:href="@{/contracts/new}" class="btn btn-success">Nuevo contrato</a>
  </div>
</div>
</body>
</html>